 body{
    font-family: arial;
}  
/* #menu {
    border: 1px solid #000;
} */
#menu ul {
    background-color: #f1c40f;

} 
#menu ul {
    list-style: none;
    position: relative;
    margin: 0;
    padding: 0;
    float: left;

} 

#menu ul a {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    line-height: 32px;
    padding: 0 15px;
    display: block;

} 
 #menu ul li{
    float: left;
    position: relative;
    margin: 0;
    padding: 0;
}  
#menu ul li:hover{
    /* background-color: black; */
    /* text-decoration: underline; */
}
#menu ul ul{
    position: absolute;
    background-color:#2ecc71;
   top: 100%;
   left: 0;
   display: none;
}
#menu ul ul li{
    float: none;
    width: 200px;
}
#menu ul li:hover > ul{
    display: block;
}
section{
    height: 500px;
}
footer {
    position: fixed;
    background: black;
    width: 100%;
    bottom: 0;
    left: 0;
    
}
footer::before{
    content: '';
    position: absolute;
    left: 0;
    top: 100px;
    height: 1px;
    width: 100%;
    background: #AFAFB6;
}
footer .content{
    max-width: 1250px;
    margin: auto;
    padding: 30px 40px 40px 40px;
}
footer .content .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}
.content .top .logo_details{
    color: #fff;
    font-size: 30px;
}
.content .top .logo_details .logo_name{
    align-items: center;
}
.content .top .media_icons{
    display: flex;

}
.content .top .media_icons a{
    
    margin: 0 15px;
    color: #fff;

    /* background-color: red; */
    /* border-radius: 50%;  */
    text-align: centre;
    /* line-height: 40px; */ 
/* color: ; */
    font-size: 17px;
    text-decoration: none;
}
.content .top .media_icons a:nth-child(1){
    background: #4267B2;

}
.content .top .media_icons a:nth-child(1):hover
{
    color: #4267B2;
    background: #fff;

}
.content .top .media_icons a:nth-child(2){
    background: #4267B2;

}
.content .top .media_icons a:nth-child(2):hover
{
    color: #4267B2;
    background: #fff;

}
.content .top .media_icons a:nth-child(3){
    background: #4267B2;

}
.content .top .media_icons a:nth-child(3):hover
{
    color: #4267B2;
    background: #fff;

}
.content .top .media_icons a:nth-child(4){
    background: #4267B2;

}
.content .top .media_icons a:nth-child(4):hover
{
    color: #4267B2;
    background: #fff;

}
footer .content .link-boxes{
    width: 90%;
    display: flex;
    justify-content: space-between;

}
footer .content .link-boxes .map{
    margin-left: 200px;
}
footer .content .link-boxes .box li{
    list-style: none;
    color: #fff;
    margin: 10px 0; 
    font-size: 14px;
}
.content .link-boxes .box li{
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    opacity: 0.8;
    transition: all 0.4s ease;
}
.content .link-boxes .box li:hover{
    opacity: 1;
    text-decoration: underline;
}
.content .link-boxes .box .link-name{
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
    position: relative;
}

.link-boxes .box .link-name::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 2px;
    width: 35px;
    background: #fff;
}



